// app global css in SCSS form
// app global css in Sass form
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');
@font-face {
  font-family: "futura-medium";
  src: local("futura-medium"),
   url(../fonts/Futura-Round-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "futura-bold";
  src: local("futura-bold"),
   url(../fonts/Futura-Round-Bold.ttf) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=PT+Serif&display=swap');
.coverp {position: relative;}
.coverc {position: absolute; z-index:5;}
.flex-ab {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: baseline}
.flex-ac {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: center}
.flex-ae {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end}
.flex-as {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start}
.flex-at {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: stretch}
.flex-bb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: baseline}
.flex-bc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center}
.flex-be {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end}
.flex-bs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start}
.flex-bt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch}
.flex-cab {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: baseline}
.flex-cac {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: center}
.flex-cae {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end}
.flex-cas {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start}
.flex-cat {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: stretch}
.flex-cb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: baseline}
.flex-cbb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: baseline}
.flex-cbc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: center}
.flex-cbe {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end}
.flex-cbs {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start}
.flex-cbt {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: stretch}
.flex-cc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center}
.flex-ccb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: baseline}
.flex-ccc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center}
.flex-cce {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: flex-end}
.flex-ccs {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: flex-start}
.flex-cct {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: stretch}
.flex-ce {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-end}
.flex-ceb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: baseline}
.flex-cec {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: center}
.flex-cee {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-end}
.flex-ces {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-start}
.flex-cet {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: stretch}
.flex-cnab {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: baseline}
.flex-cnac {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: center}
.flex-cnae {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end}
.flex-cnas {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start}
.flex-cnat {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; align-items: stretch}
.flex-cnbb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: baseline}
.flex-cnbc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: center}
.flex-cnbe {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end}
.flex-cnbs {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start}
.flex-cnbt {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: stretch}
.flex-cncb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: baseline}
.flex-cncc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center}
.flex-cnce {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: flex-end}
.flex-cncs {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: flex-start}
.flex-cnct {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: stretch}
.flex-cneb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: baseline}
.flex-cnec {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: center}
.flex-cnee {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-end}
.flex-cnes {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-start}
.flex-cnet {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-end; align-items: stretch}
.flex-cnsb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: baseline}
.flex-cnsc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: center}
.flex-cnse {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-end}
.flex-cnss {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-start}
.flex-cnst {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch}
.flex-cnvb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: baseline}
.flex-cnvc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: center}
.flex-cnve {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-end}
.flex-cnvs {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-start}
.flex-cnvt {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: stretch}
.flex-cs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start}
.flex-csb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: baseline}
.flex-csc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: center}
.flex-cse {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-end}
.flex-css {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-start}
.flex-cst {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch}
.flex-ct {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: stretch}
.flex-cvb {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: baseline}
.flex-cvc {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: center}
.flex-cve {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-end}
.flex-cvs {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-start}
.flex-cvt {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: stretch}
.flex-cwab {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; align-items: baseline}
.flex-cwac {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; align-items: center}
.flex-cwae {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; align-items: flex-end}
.flex-cwas {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; align-items: flex-start}
.flex-cwat {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; align-items: stretch}
.flex-cwbb {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; align-items: baseline}
.flex-cwbc {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; align-items: center}
.flex-cwbe {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; align-items: flex-end}
.flex-cwbs {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; align-items: flex-start}
.flex-cwbt {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; align-items: stretch}
.flex-cwcb {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: baseline}
.flex-cwcc {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center}
.flex-cwce {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: flex-end}
.flex-cwcs {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: flex-start}
.flex-cwct {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: stretch}
.flex-cweb {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-end; align-items: baseline}
.flex-cwec {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-end; align-items: center}
.flex-cwee {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-end; align-items: flex-end}
.flex-cwes {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-end; align-items: flex-start}
.flex-cwet {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-end; align-items: stretch}
.flex-cwsb {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-start; align-items: baseline}
.flex-cwsc {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-start; align-items: center}
.flex-cwse {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-start; align-items: flex-end}
.flex-cwss {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start}
.flex-cwst {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-start; align-items: stretch}
.flex-cwvb {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; align-items: baseline}
.flex-cwvc {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; align-items: center}
.flex-cwve {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-end}
.flex-cwvs {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-start}
.flex-cwvt {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; align-items: stretch}
.flex-eb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: baseline}
.flex-ec {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center}
.flex-ee {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-end}
.flex-es {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-start}
.flex-et {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: stretch}
.flex-nab {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: baseline}
.flex-nac {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: center}
.flex-nae {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end}
.flex-nas {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start}
.flex-nat {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: stretch}
.flex-nbb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: baseline}
.flex-nbc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center}
.flex-nbe {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end}
.flex-nbs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start}
.flex-nbt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch}
.flex-ncb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: baseline}
.flex-ncc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center}
.flex-nce {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-end}
.flex-ncs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start}
.flex-nct {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: stretch}
.flex-neb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: baseline}
.flex-nec {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center}
.flex-nee {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-end}
.flex-nes {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-start}
.flex-net {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: stretch}
.flex-nsb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: baseline}
.flex-nsc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center}
.flex-nse {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-end}
.flex-nss {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-start}
.flex-nst {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch}
.flex-nvb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: baseline}
.flex-nvc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: center}
.flex-nve {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-end}
.flex-nvs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-start}
.flex-nvt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: stretch}
.flex-rab {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: baseline}
.flex-rac {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: center}
.flex-rae {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end}
.flex-ras {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start}
.flex-rat {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: stretch}
.flex-rbb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: baseline}
.flex-rbc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center}
.flex-rbe {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end}
.flex-rbs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start}
.flex-rbt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch}
.flex-rcb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: baseline}
.flex-rcc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center}
.flex-rce {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-end}
.flex-rcs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start}
.flex-rct {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: stretch}
.flex-reb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: baseline}
.flex-rec {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center}
.flex-ree {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-end}
.flex-res {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-start}
.flex-ret {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: stretch}
.flex-rnab {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: baseline}
.flex-rnac {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: center}
.flex-rnae {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-end}
.flex-rnas {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: flex-start}
.flex-rnat {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; align-items: stretch}
.flex-rnbb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: baseline}
.flex-rnbc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center}
.flex-rnbe {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-end}
.flex-rnbs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start}
.flex-rnbt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch}
.flex-rncb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: baseline}
.flex-rncc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center}
.flex-rnce {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-end}
.flex-rncs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: flex-start}
.flex-rnct {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: stretch}
.flex-rneb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: baseline}
.flex-rnec {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center}
.flex-rnee {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-end}
.flex-rnes {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: flex-start}
.flex-rnet {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: stretch}
.flex-rnsb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: baseline}
.flex-rnsc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center}
.flex-rnse {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-end}
.flex-rnss {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-start}
.flex-rnst {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch}
.flex-rnvb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: baseline}
.flex-rnvc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: center}
.flex-rnve {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-end}
.flex-rnvs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-start}
.flex-rnvt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: stretch}
.flex-rsb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: baseline}
.flex-rsc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center}
.flex-rse {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-end}
.flex-rss {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-start}
.flex-rst {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch}
.flex-rvb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: baseline}
.flex-rvc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: center}
.flex-rve {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-end}
.flex-rvs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-start}
.flex-rvt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: stretch}
.flex-rwab {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: baseline}
.flex-rwac {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center}
.flex-rwae {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: flex-end}
.flex-rwas {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: flex-start}
.flex-rwat {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: stretch}
.flex-rwbb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: baseline}
.flex-rwbc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center}
.flex-rwbe {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end}
.flex-rwbs {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start}
.flex-rwbt {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: stretch}
.flex-rwcb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: baseline}
.flex-rwcc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center}
.flex-rwce {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-end}
.flex-rwcs {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-start}
.flex-rwct {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: stretch}
.flex-rweb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: baseline}
.flex-rwec {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: center}
.flex-rwee {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: flex-end}
.flex-rwes {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: flex-start}
.flex-rwet {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: stretch}
.flex-rwsb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: baseline}
.flex-rwsc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: center}
.flex-rwse {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-end}
.flex-rwss {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start}
.flex-rwst {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: stretch}
.flex-rwvb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: baseline}
.flex-rwvc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center}
.flex-rwve {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-end}
.flex-rwvs {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-start}
.flex-rwvt {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: stretch}
.flex-sb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: baseline}
.flex-sc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center}
.flex-se {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-end}
.flex-ss {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: flex-start}
.flex-st {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch}
.flex-vb {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: baseline}
.flex-vc {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: center}
.flex-ve {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-end}
.flex-vs {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: flex-start}
.flex-vt {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: stretch}
.flex-wab {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: baseline}
.flex-wac {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center}
.flex-wae {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: flex-end}
.flex-was {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: flex-start}
.flex-wat {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: stretch}
.flex-wbb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: baseline}
.flex-wbc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center}
.flex-wbe {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end}
.flex-wbs {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start}
.flex-wbt {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: stretch}
.flex-wcb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: baseline}
.flex-wcc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center}
.flex-wce {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-end}
.flex-wcs {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-start}
.flex-wct {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: stretch}
.flex-web {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: baseline}
.flex-wec {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: center}
.flex-wee {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: flex-end}
.flex-wes {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: flex-start}
.flex-wet {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: stretch}
.flex-wsb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: baseline}
.flex-wsc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: center}
.flex-wse {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-end}
.flex-wss {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start}
.flex-wst {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: stretch}
.flex-wvb {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: baseline}
.flex-wvc {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center}
.flex-wve {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-end}
.flex-wvs {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-start}
.flex-wvt {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: stretch}
